body {
    background-color: aqua;
}

#copyright {
    font-size: 0.4em;
}

#logo {
    width: 20%;
}

#main-content {
    min-height: calc(100vh - 110px);
}

footer {
    height: 10px;
}

#upload-link {
    float: right;
}